title: "R Notebook"
output: html_notebook
---

This is an [R Markdown](http://rmarkdown.rstudio.com) Notebook. When you execute code within the notebook, the results appear beneath the code. 

Try executing this chunk by clicking the *Run* button within the chunk or by placing your cursor inside it and pressing *Ctrl+Shift+Enter*. 

```{r}
#series temporales forecast del precio de la accion


inf <- read.csv("../Desktop/sebastian/r studio/cheat sheet/infy-monthly.csv.txt")

tail(inf)

# creamos la serie temporal

inf.ts <- ts(inf$Adj.Close, start = c(1999,3), frequency = 12)

# graficamos

plot(inf.ts)

#aplicamos metodo holt-winters

inf.hw <- HoltWinters(inf.ts)

head(inf.hw)

#plot holt-winters

plot(inf.hw, col = "blue",col.predicted = "red")
```
```{r}
# evaluamos la suma de los errores al cuadrado

inf.hw$SSE
inf.hw$alpha
inf.hw$beta
inf.hw$gamma
```


```{r}
library(forecast)

infy.fore <- forecast(inf.hw, h = 24)

plot(infy.fore)
```


```{r}

# modelos autoregresivos integrados de medias moviles ARIMA

inf.arima <- auto.arima(inf.ts)

summary(inf.arima)

inf.fore <-  forecast(inf.arima, H = 12 )
plot(inf.fore)
